<section>
	<h1>My story</h1>
	<br>
	<br>
	<div class="row">
		<div class="col-md-6">
			<div class="input-group">
				 <span class="input-group-addon" id="basic-addon3"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Title</span>
				 <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Title">
			</div>
		</div>
		<div class="col-md-6">
			<div class="input-group">
				 <span class="input-group" id="basic-addon3"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Type</span>
				 <label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Volunteer"> Volunteer
				</label>
				<label class="radio-inline">
				  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> option2
				</label>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-md-12">
			<span class="input-group-addon" id="basic-addon3"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Description</span>
			<textarea class="form-control" rows="10" placeholder="Write a description about your Problem or solucion..."></textarea>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
			  Post
			</button>
		</div>
	</div>
</section>
